title: ELT Awesome Docs
description: Modern documentation for ELT's projects
baseurl: "/website"
url: "https://chasenaquin.github.io/jekyll-test"
theme: minima
permalink: pretty
collections:
  docs:
    output: true
    permalink: /docs/:path/
defaults:
  - scope:
      path: ""
      type: docs
    values:
      layout: default
include:
  - assets
exclude:
  - Gemfile
  - Gemfile.lock
  - vendor
  - .sass-cache
  - .jekyll-cache
  - .gitignore
